Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [ ]:
import pandas as pd
import numpy as np
data = {'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
df = pd.DataFrame.from_records(data, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] )
print(df)

   age priority  visits
a  2.5      yes       1
b  3.0      yes       3
c  0.5       no       2
d  NaN      yes       3
e  5.0       no       2
f  2.0       no       3
g  4.5       no       1
h  NaN      yes       1
i  7.0       no       2
j  3.0       no       1

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

**3.** Return the first 3 rows of the DataFrame `df`.

In [ ]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**4.** Display the 'animal' and 'age' columns from the DataFrame `df`

In [ ]:
df.loc[:,"animal"]

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [ ]:
df.loc[:,"age"]

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

**5.** Display the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']'

In [ ]:
df.iloc[[3,4,8],[0,1]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**6.** Select only the rows where the number of visits is greater than 3.

In [ ]:
print("Number of visits is greater than 3 :")
print(df[ (df['visits'] > 3)])

Number of visits is greater than 3 :
Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

In [ ]:
print("Rows where age is missing:")
print(df[df['age'].isnull()])

Rows where age is missing:
  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

In [ ]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**9.** Select the rows where the age is between 2 and 4 (inclusive)

In [ ]:
df[df['age'].between(2, 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**10.** Change the age in row 'f' to 1.5.

In [75]:
df.loc['f', 'age'] = 1.5
print(df)

   animal  age visits priority
a     cat  2.5      1      NaN
b     cat  3.0      3      NaN
c  python  0.5      2      NaN
d     dog  NaN      3      NaN
e     dog  5.0      2      NaN
f     cat  1.5      3      NaN
g  python  4.5      1      NaN
h     cat  NaN      1      NaN
i     dog  7.0      2      NaN
j     dog  3.0      1      NaN

**11.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [ ]:
df['visits'].sum()

19

**12.** Calculate the mean age for each different animal in `df`.

In [ ]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [73]:
df.loc['k'] = [5.5, 'dog', 'no', 2]
df = df.drop('k')

**14.** Count the number of each type of animal in `df`.

In [50]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [61]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age visits priority
i    dog  7.0      2       no
e    dog  5.0      2       no
g  snake  4.5      1       no
j    dog  3.0      1       no
b    cat  3.0      3      yes
a    cat  2.5      1      yes
f    cat  1.5      3       no
c  snake  0.5      2       no
h    cat  NaN      1      yes
d    dog  NaN      3      yes

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [67]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
print(df['priority'])

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: priority, dtype: object

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

In [66]:
df['animal'] = df['animal'].replace('snake', 'python')
print(df['animal'])

   animal  age visits priority
a     cat  2.5      1      NaN
b     cat  3.0      3      NaN
c  python  0.5      2      NaN
d     dog  NaN      3      NaN
e     dog  5.0      2      NaN
f     cat  1.5      3      NaN
g  python  4.5      1      NaN
h     cat  NaN      1      NaN
i     dog  7.0      2      NaN
j     dog  3.0      1      NaN

**18.** Load the ny-flights dataset to Python

In [65]:
from google.colab import files
uploaded = files.upload()

Saving ny-flights.csv to ny-flights (2).csv

In [83]:
import pandas as pd
import numpy as np

In [85]:
ny-flights == read.csv("ny-flights.csv")

NameError: ignored

**19.** Which airline ID is present maximum times in the dataset

In [86]:
colmaxs = apply(ny-flights,times,max)

NameError: ignored

**20.** Draw a plot between dep_delay and arr_delay

In [ ]:
import matplotlib.pyplot as plt
flights.csv.plot(
               kind='scatter',
               x='DEP_DELAY',
               y='ARR_DELAY',
               color='blue',
               alpha=0.3,
               title='Correlation of arrival and departure delay'
              )
plt.show()

NameError: ignored

In [ ]:
import matplotlib.pyplot as plt
.plot(
               kind='scatter',
               x='DEP_DELAY',
               y='ARR_DELAY',
               color='blue',
               alpha=0.3,
               title='Correlation of arrival and departure delay'
              )
plt.show()

NameError: ignored

In [ ]:
import matplotlib.pyplot as plt
.plot(
               kind='scatter',
               x='DEP_DELAY',
               y='ARR_DELAY',
               color='blue',
               alpha=0.3,
               title='Correlation of arrival and departure delay'
              )
plt.show()

NameError: ignored